@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Darker Grotesque";
  margin: 0;
}

input,
label {
  display: block;
}

input {
  margin-bottom: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #000;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

nav ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav a {
  display: block;
  color: #fff;
}

/* automatically added by NavLink component */
.active {
  color: #eebc32;
  font-weight: bold;
  font-style: italic;
}

.back-blue1 {
  background: linear-gradient(180deg, #ffffff 23.5%, #ceeafd 100%);
}
.back-blue2 {
  background: linear-gradient(360deg, #ffffff 23.5%, #ceeafd 100%);
}
.grad-blue1 {
  background: #0a69ae;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.grad-blue2 {
  background: linear-gradient(to top, #0a69ae 0%, #0a69ae 10%, #042b48 100%);
}

.text-shadow {
  background: linear-gradient(0deg, #000000, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.box-shadow_custom {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
}

.card-shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
