@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Darker Grotesque";
  margin: 0;
}

input, label {
  display: block;
}

input {
  margin-bottom: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #000;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
}

nav ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav a {
  display: block;
  color: #FFF;
}



/* automatically added by NavLink component */
.active {
  color: #EEBC32;
  font-weight: bold;
  font-style: italic;
}

.grad-blue1{
  background: radial-gradient(50% 50% at 50% 50%, #0A69AE 0%, #0A69AE 50%, #042B48 100%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent
}

.grad-blue2 {
  background: linear-gradient(to right, #0A69AE 0%, #0A69AE 50%, #042B48 100%);
}

