@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.darkText  {
  font-family: "Darker Grotesque";
}
body {
  font-family: "Darker Grotesque";
  margin: 0;
}

input,
label {
  display: block;
}

input {
  margin-bottom: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #000;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

nav ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav a {
  display: block;
  color: #fff;
}

/* automatically added by NavLink component */
.active {
  color: #eebc32;
  font-weight: bold;
  font-style: italic;
}

.back-blue1 {
  background: linear-gradient(180deg, #ffffff 23.5%, #ceeafd 100%);
}
.back-blue5 {
  background: linear-gradient(
    to bottom, 
    #D9D9D936, 
    rgba(160, 160, 160, 0.21)
  );
}


.back-blue2 {
  background: linear-gradient(360deg, #ffffff 23.5%, #ceeafd 100%);
}

.back-blue4 {
  background: linear-gradient(360deg, rgba(217, 217, 217, 0.21) 22.5%, rgba(56, 172, 250, 0.21) 58%, rgba(56, 172, 250, 0.21) 100%);
}

.back-blue3 {
  /* background:  #042B48 100% */
}
.grad-blue1 {
  background: linear-gradient(180deg, #0c77c3 0%, #0c77c3 50%, #042B48 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.bg-custom {
  background: rgba(217, 217, 217, 0.21);
}
.shadow-bottom {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}


.grad-blue2 {
  background: linear-gradient(to top, #0a69ae 0%, #0a69ae 10%, #042b48 100%);
}

.text-shadow {
  background: linear-gradient(0deg, #000000, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.textshadow2 {
 
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);

}

.box-shadow_custom {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
}

.card-shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}






.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root {
  --purple: #6200ff;
}
.text-purple {
  color: var(--purple);
}
.btn-purple {
  background-color: var(--purple);
  color: #fff;
}
.progress-bar {
  width: 100%;
  height: 10px;
  background-color: rgb(4,43,72);
  margin-bottom: 50px;
}
.progress-bar div {
  width: 33.3%;
  height: 100%;
  background-color: var(--purple);
}

.shadow-right {
  
  box-shadow: 5px 0 15px -10px rgba(0, 0, 0, 0.2);
}